//- includes/head.pug
head
    style
        include ../../static/public/styles/style.css
        include ../../static/public/styles/fonts.css
    include ../mixin.pug
    title Doggo Matching
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="./images/matches.png" type="image/jpg")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css")