//- includes/head.pug
head
    style
        include ../../static/public/styles/style.css
    include ../mixin.pug
    title Matching app
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(rel="shortcut icon" href="./images/matches.png" type="image/jpg")  