doctype html
html
  include includes/head.pug
  body.template
    +info
    h1 #{title}
    block content
    nav 
        div
            a(href="/home")
                img(src="images/home.png" alt="home icon")
            a(href="/matches")
                img(src="images/matches.png" alt="matches icon")
            a(href="/profile")
                img(src="images/profile.png" alt="profile icon")
            a(href="/chat")
                img(src="images/chat.svg" alt="chat icon")
    script(src="scripts/script.js", type="module")